<div class="row" style="margin-top: 2%;">
    <div class="col-6" style="display: flex; align-items: center;">
        <h5>{{header_name}}</h5>
    </div>
    <div class="col-6 button-style">
        <button type="reset" class="btn draft-button" (click)="onsubmit1()">Save as Draft</button>
        <button (click)='onsubmit(submissiondialog)' class="btn submit_button">View Report Preview</button>
    </div>
</div>

<hr>

<div class="row" style="margin-top: 10%;">
    <div class="col-3 label">
        Diabetes Status
    </div>
    <div class="col-4">
        <nb-select name="diabetesvalue" [(ngModel)]="diabetesvalue" fullWidth>
            <nb-option *ngFor="let item of diabetesArray" [value]="item">
                {{item.timeline_name | titlecase}}
            </nb-option>
        </nb-select>
    </div>
    <div class="col-3">

    </div>
</div>

<ng-template #submissiondialog let-data let-ref="dialogRef">
    <nb-card class="error-popup ">
        <nb-card-body>
            All test results are submitted successfully. Do you want to navigate to summary screen for publishing the test results?
        </nb-card-body>
        <nb-card-footer style="margin-left: auto;margin-right: auto;">
            <button nbButton style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;" (click)="Open(ref)">Yes</button>
            <button nbButton style="margin-left: 15px;" (click)="close(ref)">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<p-toast position="bottom-center" key="bc"></p-toast>