.container-1 {
    background-color: #f4ec8a;
    padding-top: 12px;
    padding-left: 9px;
    padding-right: 9px;
}

.container-1 {
    p {
        font-weight: 600;
    }
}

.label {
    color: #00162A;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.submit_button {
    margin-left: 6px;
    background-color: #72db76;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
}

.button-style {
    display: flex;
    justify-content: flex-end;
}

.draft-button {
    margin-left: 6px;
    background-color: #707070;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
}