<ul>
    <li>RESULT STEPS</li>
    <li *ngFor="let item of items" (click)="goToPage(item)" [ngClass]="{'active': currentParam == item.title}">
        <span >{{item.title}}</span>
        <span *ngIf="item.update == 1" style="float: right;"><img src="../../../assets//images/Group 5938.png"></span>
    </li>
</ul>

<!-- <div>1 {{currentParam}}</div> -->