.container {
    width: 10vw;
    background-color: red;
}

a {
    // color: #ffffff !important;
    position: relative;
    width: 88%;
}

a:active {
    background-color: #ec4012 !important;
}

// a:active{
//     background-color: #ec4012 !important;
//     color: #ffffff !important;
//     position: relative;
//     width: 88%;
// }
.active {
    background-color: #ec4012 !important;
    color: #ffffff !important;
    position: relative !important;
    width: 100% !important;
    border: none;
}

// .active::after {
//     content: "";
//     width: 20px;
//     height: 40px;
//     border-left: solid 31px #ec4012;
//     border-bottom: solid 22px transparent;
//     border-top: solid 24px transparent;
//     position: absolute;
//     position: fixed;
//     right: 0;
//     margin-top: -13px;
// }

ul,
li {
    list-style-type: none;
    padding: 0.8rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

ul,
li:first-child {
    font-size: 14px;
}

ul {
    padding: 0px;
    cursor: pointer;
    height: 100vh;
}