<nb-layout>
    <!-- <nb-layout-header>
        <div class="container-1">
            <div class="row">
                <div class="col-3">
                    <p class="label1">Id</p>
                    <p class="label2">5825-0092-4923</p>
                </div>
                <div class="col-2">
                    <p class="label1">NAME</p>
                    <p class="label2">John Doe</p>
                </div>
                <div class="col-2">
                    <p class="label1">DOB</p>
                    <p class="label2">05-03-1985</p>
                </div>
                <div class="col-5">
                    <p class="label1">ADDRESS</p>
                    <p class="label2">263 North Circular rd, 7 Country Dublin, Ireland</p>
                </div>
            </div>
        </div>
    </nb-layout-header> -->

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <app-sidebar></app-sidebar>
    </nb-sidebar>


    <nb-layout-column>
        <ng-content select="router-outlet">
        </ng-content>
    </nb-layout-column>
</nb-layout>