@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
.header-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo-container {
        display: flex;
        align-items: center;
        // width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    }
    nb-action {
        height: auto;
        display: flex;
        align-content: center;
    }
    nb-user {
        cursor: pointer;
    }
     ::ng-deep nb-search button {
        padding: 0!important;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        .sidebar-toggle {
            //   @include nb-ltr(padding-right, 1.25rem);
            //   @include nb-rtl(padding-left, 1.25rem);
            text-decoration: none;
            color: nb-theme(text-hint-color);
            nb-icon {
                font-size: 1.75rem;
            }
        }
        .logo {
            padding: 0 1.25rem;
            font-size: 1.75rem;
            //   @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
            //   @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
            white-space: nowrap;
            text-decoration: none;
        }
    }
    @include media-breakpoint-down(sm) {
        .control-item {
            display: none;
        }
        .user-action {
            border: none;
            padding: 0;
        }
    }
    @include media-breakpoint-down(is) {
        nb-select {
            display: none;
        }
    }
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
}

.logo-img {
    height: auto;
    width: 57%;
}

// .nav {
//     text-decoration-line: none;
//     color: #ffffff !important;
//     font-size: 18px;
//     font-weight: 400 !important;
// }
// .nav-class {
//     box-shadow: none !important;
// }
.class1 {
    color: #3bd1f8 !important;
    font-weight: bold !important;
}

.container-1 {
    background-color: #F4F9E7;
    padding-top: 12px;
    padding-left: 9px;
    padding-right: 9px;
}

.container-1 {
    .label1 {
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
    }
    .label2 {
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
    }
}