<app-header></app-header>


<div class="container-1">
    <div>
        <div style="float: left;" class="table-header">Completed Results</div>
        <div style="float: right;">
            <div class="form">
            <input type="text" class="form-control form-input"
             placeholder="Search by Id"  [(ngModel)]="search" (ngModelChange)="searchFunction()">
            <span class="left-pan"><i class="fa fa-search"></i></span>
         </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Patient Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Test Kit Id</th>
            <th scope="col">Submitted Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of complete_List let k = index">
            <th scope="row">{{ k + 1 }}</th>
            <td>{{i.first_name}} {{i.last_name}}</td>
            <td>{{i.dob}}</td>
            <td *ngIf="roles == 'ROLE_ADMIN'" class="test-kit-id" (click)="testKitId(i.id)">{{i.test_kit_id}}</td>
            <td *ngIf="roles != 'ROLE_ADMIN'" class="test-kit-id" (click)="testKitId1(i.id, i.test_kit_id)">{{i.test_kit_id}}</td>
            <td>{{i.doctor_submittedAt | date: 'mediumDate'}}</td>
          </tr>
        </tbody>
        
      </table>
      <div style="text-align: center;" *ngIf = "!complete_List || complete_List.length <= 0">
        <p class="not_found">Data Not Found</p>
    </div>
    <p-paginator [rows]="10" [totalRecords]="total_item"
    (onPageChange)="paginatorChange($event)"></p-paginator>
</div>