<div class="header-body header-class">
    <div class="header-container">
        <div class="logo-container">
            <a class="logo border-left">
                <img class="logo-img" src="../../../assets/images/BB_Logo_White.png">
            </a>
        </div>
        <nav class="nav-class">
            <a class="nav" style="margin-left: 16px;" routerLink="/page/viewdraft"><i
                    class="far fa-edit header_icon_style"></i><span [routerLinkActive]="['class1']">View
                    Drafts</span></a>
            <!-- <a class="nav" style="margin-left: 16px;" routerLink='/search'><i class="fa fa-search header_icon_style"
                    aria-hidden="true"></i><span [routerLinkActive]="['class1']">Back to ID Search</span></a> -->
            <a class="nav" style="margin-left: 16px;" routerLink='/page/worklist'><i
                    class="fas fa-list header_icon_style"></i><span [routerLinkActive]="['class1']">Work List</span></a>

            <a *ngIf="completed_id == 1" class="nav" style="margin-left: 16px;" routerLink='/page/completedlist'><i
                    class="fas fa-list header_icon_style"></i><span [routerLinkActive]="['class1']">Completed
                    List</span></a>
            <a *ngIf="completed_id == 2" class="nav" style="margin-left: 16px;"
                routerLink='/page/dietitian/Summary-problem-areas'>
                <i class="fas fa-list header_icon_style"></i><span [routerLinkActive]="['class1']">Completed List</span></a>
        </nav>

        <!-- <nav class="nav-class">
            <a class="nav" style="margin-left: 16px;" routerLink="/page/viewdraft" [routerLinkActive]="['class1']">View Drafts</a>
            <a class="nav" style="margin-left: 16px;" routerLink='/search' [routerLinkActive]="['class1']"><i class="fa fa-search header_icon_style" aria-hidden="true"></i>Back to ID Search</a>
            <a class="nav" style="margin-left: 16px;" routerLink='/page/worklist' [routerLinkActive]="['class1']"><i class="fas fa-list header_icon_style"></i>Work List</a>
        </nav> -->
    </div>

    <div class="header-container">
        <div class="logout-action" style="cursor: pointer;margin-right: 1.25rem;" (click)='logout()'>
            <img style="height: 30px;" src="../../../../assets/images/7853741_logout_kashifarif_exit_out_close_icon.png"
                title="logout"> <span class="logout-font">Logout</span>
        </div>
        <!-- <nb-actions size="small">
            <nb-action class="user-action" style="cursor: pointer;" (click)='logout()'>
                <img style="height: 30px;" src="../../../../assets/images/7853741_logout_kashifarif_exit_out_close_icon.png" title="logout">
            </nb-action>
        </nb-actions> -->
    </div>
</div>
<div class="container-1">
    <div class="head-text">Results</div>
    <div class="row pt-2 pb-2">
        <div class="col-2">
            <div class="row">
                <div class="col-8">
                    <div class="label2">{{subheader_details.first_name}} {{subheader_details.last_name}}</div>
                    <div class="label2">{{age}}Y</div>
                </div>
                <div class="col-2">
                    <hr />
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="row">
                <div class="col-8">
                    <div class="label1">DOB</div>
                    <div class="label2">{{ subheader_details?.dob | date : 'mediumDate' }}</div>
                </div>
                <div class="col-2">
                    <hr />
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-8">
                    <div class="label1">Id</div>
                    <div class="label2">{{subheader_details.test_kit_id}}</div>
                </div>
                <div class="col-2">
                    <hr />
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="row">
                <div class="col-12">
                    <div class="label1">ADDRESS</div>
                    <div class="label2">{{subheader_details.address_line1}}, {{subheader_details.address_line2}},
                        {{subheader_details.city}}, {{subheader_details.country}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>