<div class="page-main-wrapper">
    <div class="row mg-lt-0 mg-rt-0">
        <div class="col-12 pd-lt-0 pd-rt-0">
            <div class="wrapper-title">
                <h2>Follow Up
                </h2>
                <div class="save-draft-bottons">
                    <!-- <button type="reset" class="btn draft-button btn-green" (click)="gotoSearchKit()">Save and Finalize</button> -->
                    <!-- <button type="reset" class="btn close-button " (click)="formRefresh(createForm)">Close</button> -->
                    <button type="reset" class="btn draft-button btn-green" (click)="onAddSummaryProblem()">View Report Preview</button>
                    <div *ngIf="previousButton" class="arrow-button" (click)="onPageLoad(8)">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5750.png">
                    </div>
                    <div *ngIf="!previousButton" class="arrow-button1">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5751.png">
                    </div>
                    <div *ngIf="!saveButton" class="arrow-button1">
                        <img style="height: 30px;" src="../../../../assets/images/Group-5753.png">
                    </div>
                   
                </div>
            </div>

            

            <div class="summary-details-section" *ngIf="summary_problem.length > 0">    
                <div *ngFor = "let i of summary_problem">
                    <div class="inner-content" style="margin-top: 12px;">
                        <h3><strong>Test Name:</strong> {{i.test_name}}</h3>
                        <div class="summary-note"  [innerHTML]="i.notes | safeHtml"></div>
                        <div class="summary-template" [innerHTML]="i.template | safeHtml"></div>
                    </div>
                </div>
                
            </div>
            <div class="page-content-editor">
        
                <form #lifestytleForm="ngForm">
                    
                    <div class="content-form" style="margin-top: 20px;">
                        <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                            <ckeditor [(ngModel)]="mycontent" 
                            #myckeditor="ngModel"
                            name="myckeditor"
                            required
                            [config]="ckeConfig" 
                            debounce="500" 
                            (ngModelChange)="onChange($event)">
                            </ckeditor>
                            <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
                        </div>
                    </div>
                
                </form>
                        
            </div>
        </div>

       
    </div>   
    <p-toast position="center" key="summary"></p-toast>
</div>


<!-- <p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p style="margin-top: 2%;"> All test results submitted successfully. Do you want to navigate to Search Kit Page?</p>
    <ng-template pTemplate="footer">
        <button class="btn" style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;"  (click)="Open()">Yes</button>
        <button class="btn"  style="margin-left: 15px;" (click)="close()">No</button>
    </ng-template>
</p-dialog> -->

<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p  style="margin-top: 2%;"> All the reviews done are submitted successfully. Do you want to navigate to summary screen for publishing the dietary report?</p>
    <ng-template pTemplate="footer">
        <button class="btn" style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;"  
        (click)="Open()">Yes</button>
        <button class="btn"  style="margin-left: 15px;" (click)="close()">No</button>
    </ng-template>
</p-dialog>