<div class="page-main-wrapper">
    <div class="row mg-lt-0 mg-rt-0">
        <div class="col-12 pd-lt-0 pd-rt-0">
            <div class="wrapper-title">
                <h2>Job</h2>
                <div class="save-draft-bottons">
                    <!-- <button type="reset" class="btn close-button " (click)="formRefresh(createForm)">Close</button> -->
                    <button type="reset" class="btn draft-button" (click)="onAddJob()">Save as Draft</button>
                    <div *ngIf="previousButton" class="arrow-button" (click)="onPageLoad(3)">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5750.png">
                    </div>
                    <div *ngIf="!previousButton" class="arrow-button1">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5751.png">
                    </div>
                    <div *ngIf="!saveButton" class="arrow-button" (click)="onPageLoad(5)">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5752.png">
                    </div>
                   
                </div>
            </div>
            <div class="page-content-editor">
        
                <form #lifestytleForm="ngForm">
                    
                    <div class="content-form" style="margin-top: 20px;">
                        <div class="form-group has-feedback">
                            <ckeditor [(ngModel)]="mycontent" 
                            #myckeditor="ngModel"
                            name="myckeditor"
                            required
                            [config]="ckeConfig" 
                            debounce="500" 
                            (ngModelChange)="onChange($event)">
                            </ckeditor>
                           
                        </div>
                    </div>
                
                </form>
                        
            </div>
        </div>

       
    </div> 
    <p-toast position="center" key="job"></p-toast>  
</div>
