<div class="page-main-wrapper">
    <div class="row mg-lt-0 mg-rt-0">
        <div class="col-12 pd-lt-0 pd-rt-0">
            <div class="wrapper-title">
                <h2>Exercise</h2>
                <div class="save-draft-bottons">
                    <!-- <button type="reset" class="btn close-button " (click)="formRefresh(createForm)">Close</button> -->
                    <button type="reset" class="btn draft-button" (click)="onAddExercise()">Save as Draft</button>
                    <div *ngIf="previousButton" class="arrow-button" (click)="onPageLoad(7)">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5750.png">
                    </div>
                    <div *ngIf="!previousButton" class="arrow-button1">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5751.png">
                    </div>
                    <div *ngIf="!saveButton" class="arrow-button" (click)="onPageLoad(9)">
                        <img style="height: 30px;" src="../../../../assets/images/Group 5752.png">
                    </div>
                    <!-- <div *ngIf="!saveButton" class="arrow-button1">
                        <img style="height: 30px;" src="../../../../assets/images/Group-5753.png">
                    </div> -->
                   
                </div>
            </div>
            <div class="page-content-editor">
        
                <form #lifestytleForm="ngForm">
                    
                    <div class="content-form" style="margin-top: 20px;">
                        <div class="form-group has-feedback">
                            <ckeditor [(ngModel)]="mycontent" 
                            #myckeditor="ngModel"
                            name="myckeditor"
                            required
                            [config]="ckeConfig" 
                            debounce="500" 
                            (ngModelChange)="onChange($event)">
                            </ckeditor>
                           
                        </div>
                    </div>
                
                </form>
                        
            </div>
        </div>

       
    </div>  
    
    
    

    <p-toast position="center" key="excercise"></p-toast>
</div>

<!-- <ng-template #submissiondialog let-data let-ref="dialogRef">
    <nb-card class="error-popup ">
        <nb-card-body>
            All test results submitted successfully. Do you want to navigate summary screen for confirming the test results?
        </nb-card-body>
        <nb-card-footer style="margin-left: auto;margin-right: auto;">
            <button nbButton style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;" (click)="Open(ref)">Yes</button>
            <button nbButton style="margin-left: 15px;" (click)="close(ref)">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template> -->

<!-- <ng-template #submissiondialog let-data let-ref="dialogRef">
    <nb-card class="error-popup ">
        <nb-card-body>
            All test results submitted successfully. Do you want to navigate to Search Kit Page?
        </nb-card-body>
        <nb-card-footer style="margin-left: auto;margin-right: auto;">
            <button nbButton style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;" (click)="Open(ref)">Yes</button>
            <button nbButton style="margin-left: 15px;" (click)="close(ref)">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template> -->

<p-dialog header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <p  style="margin-top: 2%;"> All the review comments made are submitted successfully. Do you want to navigate summary screen for confirming the test results?</p>
    <ng-template pTemplate="footer">
        <button class="btn" style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;"  (click)="Open()">Yes</button>
        <button class="btn"  style="margin-left: 15px;" (click)="close()">No</button>
    </ng-template>
</p-dialog>
