<section page="login">
    <div class="part left">
        <h2 class="content-tite">Blood Profiling Simplified!</h2>
    </div>

    <div class="part right text-center">
        
        <form #loginForm="ngForm">
            <div class="login-box">
                <img class="logo" src="/assets/images/logo/logo_blood_brothers.png" alt="" srcset="">
                <div  class="form-top-label">Sign In</div>
                <div class="error_pop mb-2" *ngIf="error_shown">
                    <div>{{error_message}}</div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        <!-- <label class="form-label" for="login">Log In</label> -->
                        <!-- <div class="form-icon"></div> -->
                        <input class="form-control" id="login" name="email" type="email" placeholder="Email" [(ngModel)]="email" #emailid="ngModel"
                         nbInput fullWidth fieldSize="large" required shape="rectangle" (ngModelChange)="formonChange()">

                        <ng-container *ngIf="submitted">
                            <p class="error-message" *ngIf="emailid.errors?.required">
                                Email is required!
                            </p>
                        </ng-container>

                    </div>
                    <div class="form-field input-icons">
                        <!-- <label class="form-label" for="password">Password</label> -->
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" 
                        required [(ngModel)]="password" #passwordid="ngModel" nbInput fullWidth fieldSize="large"
                         shape="rectangle" (ngModelChange)="formonChange()" >

                         <!-- <span class="input-group-text cursor-pointer icon " ><i  class="feather font-small-4" [ngClass]="{
                            'icon-eye': passwordTextType,
                            'icon-eye-off': !passwordTextType
                          }" (click)="togglePasswordTextType()"></i></span> -->

                        <ng-container *ngIf="submitted">
                            <p class="error-message" *ngIf="passwordid.errors?.required">
                                password is required!
                            </p>
                        </ng-container>

                    </div>
                    <!-- <div class="text-right">
                        <a class="form-link" href="">Forgot Password?</a>
                    </div> -->
                    <button class="btn form-button" (click)="login(loginForm)" >Sign In</button>
                    <!-- <div class="text-center">
                        <div class="color-white">Don’t have an account?</div>
                        <a class="form-link" href="">Register</a>
                    </div> -->
                </div>
            </div>
        </form>
    </div>
</section>