.form {
    &-group {
        text-align: left;
    }
    &-field {
        margin-bottom: 20px;
    }
    &-label {
        color: #FFFFFF;
    }
    &-control {}
    &-link {
        color: #FFFFFF;
        cursor: pointer;
    }
    &-link:hover {
        color: #4B4141;
    }
    &-button {
        width: 100%;
        border: 0;
        padding: 15px;
        background-color: #4B4141;
        color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 5px;
        font-weight: 700;
    }
}

.text-right {
    text-align: right;
}

.color-white {
    color: white;
}

[page="login"] {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #1F3740;
    display: table;
    width: 100%;
    height: 100%;
    .part {
        display: table-cell;
        padding: 15px;
        width: 50%;
        height: 100vh;
        vertical-align: middle;
        &.left {
            background: linear-gradient(to bottom, transparent, #00000075), url(/assets/images/bg/bg_login.png) center center no-repeat;
            background-size: cover;
        }
        &.right {
            background: url(/assets/images/bg/bg_logo_white.png) bottom -50px right -50px no-repeat, linear-gradient(to bottom, #FF7900, #FF3100);
            background-size: contain;
        }
        .content-tite {
            position: relative;
            bottom: -30%;
            left: 10%;
            color: #FFFFFF;
            text-align: left;
            font-size: 80px;
            line-height: 90px;
            &::before {
                content: "";
                display: block;
                width: 100px;
                height: 10px;
                background-color: #FF3900;
                border-radius: 5px;
                margin-bottom: 15px;
            }
        }
        .login-box {
            width: 100%;
            max-width: 300px;
            margin: auto;
            .logo {
                display: block;
                height: 85px;
                margin: 30px auto 30px auto;
            }
        }
    }
}

.form-top-label{
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    [page="login"] {
        .part {
            &.left {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 300px) {}

.error-message{
    color: #fff !important;
}

.error_pop{
    background-color: #fff;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
}

//icons

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    position: absolute;
    right: 0;
    top: 25%;
    right: 4%;
}