
.pd-0{
    padding: 0px !important;
}
.pd-lt-0{
    padding-left: 0px !important;
}
.pd-rt-0{
    padding-right: 0px !important;
}
.pd-tp-0{
    padding-top: 0px !important;
}
.pd-bt-0{
    padding-bottom: 0px !important;
}
.mg-lt-0{
    margin-left: 0px !important;
}
.mg-rt-0{
    margin-right: 0px !important;
}
.mg-tp-0{
    margin-top: 0px !important;
}
.mg-bt-0{
    margin-bottom: 0px !important;
}
.pd-rt-25{
    padding-right: 25px !important;
}

.page-main-wrapper{
    .wrapper-title{
        display: flex;
        padding: 0.8rem 0 0.6rem 0;
        border-bottom: solid 1px rgb(0 0 0 / 24%);
        margin-bottom: 20px;

        h2{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
        }
        .save-draft-bottons{
            display: flex;
            align-items: center;
            height: 100%;
            flex: 1;
            justify-content: flex-end;
            
            .draft-button {
                margin-top: 0;
                margin-left: 6px;
                // background-color: #707070;
                background-color: #6D4848;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                font-family: 'Nunito Sans', sans-serif;
            }
            .draft-button:focus{
                outline: 0;
                box-shadow: none;
            }
            .arrow-button {
                cursor: pointer;
                margin-left: 8px;
                margin-top: 0px;
            }

            .arrow-button1 {
                margin-left: 8px;
                margin-top: 0px;
            }       
        }
    }
    
    .patient-survey-section{
        background-color: #f9fbfb;
        padding: 1.3rem 0.8rem 2rem;
        height: 100%;
        .survey-title{
            padding: 0 0 0.6rem 0;
            h2{
                font-weight: 600;
                font-family: "Nunito Sans", sans-serif;
                font-size: 14px;
                color: #000000;
                text-align: center;
            }
        }
        .patient-survey-details-section {
            .patient-survey-details-box{
                margin-bottom: 15px;
                h3{
                    font-size: 14px;
                    color: #ffffff;
                    padding: 0.8rem;
                    background-color: #49bbf7;
                    border-radius: 3px;
                    box-shadow: 0rem 0.1rem 0.2rem 0.1rem rgb(44 51 73 / 17%);
                }
            }
            .patient-survey-content{
                color: #000000;
                h3{
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 700;
                    color: #000000;
                }
                p{
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 500;
            
                }
                .survey-list{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                        position: relative;
                        padding:0 0 1rem 1rem;
                        font-family: "Nunito Sans", sans-serif;
                        font-size: 12px;
                        color: #222b45;
                        span{
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 12px;
                            font-weight: 700;
                        }
                        p{
                            margin-bottom: 8px;
                        }
                        .survey-answer-tab{
                            font-family: "Nunito Sans", sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }

                }
            }
        }
    }
}

.range-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    border: solid 1px #f55341;
    border-radius: 3px;
    padding: 0px 5px 28px;
    height: 150px;
    .units{
        flex-basis: 80%;
        text-align: center;
        padding-right: 8px;
        .unit-number{
            font-family: "Nunito Sans", sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
        .unit-line{
            width: 85%;
            height: 5px;
            background-color: #4ab312;
            border-radius: 25px;
            margin: 5px auto;
        }
        .unit-text{
            font-size: 12px;
        }
    }
    .range-box{
        position: relative;

        &::after{
            position: absolute;
            top: 16px;
            left: -4px;
            content: "";
            width: 1px;
            height: 16px;
            background-color: #222;

        }
        .rangevalue{
            position: absolute;    
            top: 35px;
            left: -14px;
            text-align: center;
            font-size: 12px;
            
        }
        mat-slider{
            min-width: 110px;
        }
    }
    .unit-result{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        background-color: #f55341;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 2px 8px;
        .unit-resukt-no{
            text-align: left;
            flex-basis: 50%;
            span{
                font-family: "Nunito Sans", sans-serif;
                color: #ffffff;
                font-size: 14px;
                font-weight: 700;
            }
        }
        .unit-report{
            text-align: right;
            flex-basis: 50%;
            span{
                font-family: "Nunito Sans", sans-serif;
                color: #ffffff;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    
}
.label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}

.form-control{
    color: #000000;
    font-size: 15px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 0.5px solid #4B4141;
    padding: 10px;
    background-color: #FFFFFF;

}

.form-control:focus {
    outline: none;
    box-shadow: none;
}
textarea.form-control {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 5px;
    border: 0.5px solid #4B4141;
    padding: 10px;
    background-color: #FFFFFF;
}

textarea:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mt-2 {
    margin-top: 1.5rem !important;
}

.arrow-button {
    cursor: pointer;
    margin-left: 8px;
    margin-top: 3px;
}

.btn{
    height: 40px;
    margin-top: 20px;
    margin-left: 0;
    // background-color: #4B4141;
    background-color: #6D4848;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}
.tempalte-input{
    display: flex;
    input{
        width: 60.666%;
    }
    .load_template-button {
        height: 40px;
        margin-top: 0%;
        margin-left: 3%;
        background-color: #4B4141;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        font-family: 'Nunito Sans', sans-serif;
    }
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #e7f2f1;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background-color: #ec4012;
}

