@import 'themes';
@import '~@nebular/theme/styles/globals';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include nb-install() {
    @include nb-theme-global();
}

body{
    overflow: auto;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    background-color: #ffffff !important;
}

.nb-theme-default nb-sidebar {
    // background-color: #E7F2F1 !important;
    background-color: #F1F1F1 !important;
}

.nb-theme-default nb-select.appearance-outline.status-basic .select-button {
    width: 100% !important;
    height: 35px !important;
    border-radius: 5px !important;
    border: 0.5px solid #ab9595 !important;
}

.nb-theme-default nb-layout-header nav {
    box-shadow: none !important;
    background-color: #ec4012 !important;
}

.nb-theme-default nb-menu .menu-item a.active {
    background-color: #ec4012 !important;
    color: #ffffff !important;
    position: relative !important;
    width: 88% !important;
}

.nb-theme-default nb-menu .menu-item a.active:after {
    content: "";
    width: 20px;
    height: 40px;
    border-left: solid 31px #ec4012;
    border-bottom: solid 23px transparent;
    border-top: solid 25px transparent;
    position: absolute;
    position: fixed;
    right: 0;
}

.nb-theme-default nb-menu .menu-item a {
    color: #ff7300 !important;
}

.nb-theme-default nb-menu .menu-item a.focus {
    color: #ff7300 !important;
}

.nb-theme-default nb-menu .menu-item {
    border-bottom: none !important;
}

.nb-theme-default nb-sidebar .scrollable {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 8px !important;
    // padding-bottom: 18px !important;
    // margin-bottom: 18px !important;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
    top: 11rem;
}

.nb-theme-default .caption {
    font-size: 1.15rem !important;
}

.nb-theme-default .caption.status-danger {
    color: #000000 !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    margin-top: 155px !important;
    overflow-x: hidden !important;
}

.error-message {
    font-size: 12px !important;
    color: red !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400px !important;
}

.nb-theme-default .appearance-hero.status-primary {
    width: 100% !important;
        border: 0 !important;
        padding: 15px !important;
        background-color: #4B4141 !important;
        color: #FFFFFF !important;
        margin-top: 30px !important;
        margin-bottom: 50px !important;
        border-radius: 5px !important;
        font-weight: 700 !important;
}

.p-dialog .p-dialog-header {
    display: none !important;
}
.p-dialog .p-dialog-footer{
    text-align: center !important;
}


/* You can add global styles to this file, and also import other style files */

.pd-0{
    padding: 0px !important;
}
.pd-lt-0{
    padding-left: 0px !important;
}
.pd-rt-0{
    padding-right: 0px !important;
}
.pd-tp-0{
    padding-top: 0px !important;
}
.pd-bt-0{
    padding-bottom: 0px !important;
}
.mg-lt-0{
    margin-left: 0px !important;
}
.mg-rt-0{
    margin-right: 0px !important;
}
.mg-tp-0{
    margin-top: 0px !important;
}
.mg-bt-0{
    margin-bottom: 0px !important;
}

.btn:focus {
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}