<section page="search">
    <div class="header">
        <div style="margin: auto;">
            <img class="logo" src="/assets/images/logo/logo_blood_brothers.png" alt="" srcset="">
        </div>
        <!-- <div class="flex-space"></div> -->
        <div style="cursor: pointer;" (click)='logout()'>
            <img class="icn" src="/assets/images/icn/icn_logout.png" alt="" srcset="">
            <span class="logout-font">Logout</span>
        </div>
    </div>

    <div class="body text-center">
        <div class="">
            <h3 class="title">Welcome to Blood Brothers!</h3>
            <p class="desc">Please enter the <b>Unique Kit ID</b> located on the<br class="d-md-block d-none"> registration slip inside of your kit.</p>
        </div>

        <form #searchForm="ngForm" class="search">
            <div class="row w-100 text-left align-items-center">
                <div class="col-12 col-md-2 m-b-10px">
                    <div class="" for="id">Enter ID</div>
                </div>
                <div class="col-12 col-md-7 m-b-10px">
                    <input class="form-control form-control-lg" id="testkit" [textMask]="mask" name="testkit" [(ngModel)]="testkit" #testkitid="ngModel" type="text" nbInput fieldSize="large" shape="rectangle" placeholder="_ _ _ _ - _ _ _ _- _ _ _ _- _ _ _ _">
                </div>
                <div class="col-12 col-md-3 m-b-10px">
                    <button type="button" class="btn btn-lg btn-success btn-search" (click)="search(searchForm)">Search</button>
                </div>
            </div>
        </form>



        <div *ngIf="testkit_data">

            <div class="card" *ngIf="testKit_error == true">
                <div class="row align-items-end">
                    <span class="error-message_1"> Test Kit Id not found</span>
                </div>
            </div>

            <div class="card" *ngIf="testKit_error  == false">
                <div class="row align-items-end">
                    <div class="col-12 col-md-6 m-b-15px">
                        <label for="" class="txt-label">Name</label>
                        <div class="txt-data ">{{ this.testkit_data?.first_name +' '+ this.testkit_data?.last_name }}</div>
                    </div>
                    <div class="col-12 col-md-6 m-b-15px">
                        <label for="" class="txt-label">DOB</label>
                        <div class="txt-data">{{ this.testkit_data?.dob | date : 'mediumDate' }}</div>
                    </div>
                    <div class="col-12 col-md-9 m-b-15px">
                        <label for="" class="txt-label">Address</label>
                        <div class="txt-data">{{ this.testkit_data?.address_line1 }}</div>
                        <div class="txt-data">{{ this.testkit_data?.address_line2 }}</div>
                        <!-- this.testkit_data?.county +' '+ this.testkit_data?.country +' '+  -->
                        <div class="txt-data">{{this.testkit_data?.pincode }}</div>
                    </div>
                    <div class="col-12 col-md-9 m-b-15px">
                        <label for="" class="txt-label">Status</label>
                        <div class="txt-data" *ngIf="testkit_data?.completed == 1">Completed</div>
                        <div class="txt-data" *ngIf="testkit_data?.completed == 0">Not Completed</div>
                    </div>
                    <div class="col-12 col-md-3 m-b-15px">
                        <button type="button" (click)='resultsPageOpen()' class="btn btn-lg btn-success">Open</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>