.form {
    &-group {}

    &-field {}

    &-label {}

    &-control {}

    &-button {
        width: 100%;
        border: 0;
        padding: 15px;
        background-color: #4B4141;
        color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 5px;
        font-weight: 700;
    }
}

.text-left {
    text-align: left;
}

.m-b-10px {
    margin-bottom: 10px;
}

.m-b-15px {
    margin-bottom: 15px;
}

[page="search"] {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 22px;

    .header {
        display: flex;
        background: linear-gradient(to bottom, #FF7900, #FF3100);
        padding: 40px;
        border-radius: 0 0 30px 30px;

        .logo {
            height: 55px;
        }

        .flex-space {
            flex: 1;
        }

        .icn {
            margin-top: 5px;
        }
    }

    .body {
        background: url(/assets/images/bg/bg_logo_gray.png) center center no-repeat;
        background-size: contain;
        padding: 5vh 15px;

        .title {
            margin: 30px 0;
        }

        .desc {
            margin: 30px;
        }

        .search {
            display: flex;
            width: 100%;
            max-width: 600px;
            margin: 7vh auto;

            .block:nth-child(n+2) {
                margin-left: 15px;
            }

            .form-control-lg {
                padding: 1rem 1.3rem;
            }

            .btn-lg {
                padding: 1rem 2rem;
            }

            .btn-search {
                border: 0;
                background-color: #4B4141;
            }

            .btn-search:focus {
                box-shadow: none;
            }
        }

        .card {
            width: 100%;
            max-width: 500px;
            border: 0;
            margin: auto;
            padding: 20px 30px;
            text-align: left;
            background-color: #E9F4D075;

            .txt-label {
                font-size: 14px;
                text-transform: uppercase;
            }

            .txt-data {
                font-size: 20px;
                font-weight: 600;
            }

            .btn {
                border: 0;
                background-color: #4B4141;
            }

            .btn:focus {
                box-shadow: none;
            }
        }
    }
}

.error-message_1 {
    color: red !important;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.logout-font {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 5px;
}

@media screen and (max-width: 2560px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 300px) {}