.container-1{
    padding-top: 8%;
    padding-left: 2rem;
    padding-right: 2rem;
}
tbody{
    tr:nth-child(odd) {
    background-color: #f4f9e7 !important;
}
}


.form {
    position: relative
}



.form span {
    position: absolute;
    right: 13px;
    top: 6px;
    padding: 1px;
    border-left: 1px solid #C6CBC6;
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 38px;
    text-indent: 1px;
    border-radius: 5px;
}

.table-header{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.not_found{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.test-kit-id{
    // color: red;
    cursor: pointer;
    text-decoration: underline;
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #ff7900 !important;
}