<form #createForm="ngForm">
    <div class="row" style="margin-top: 2%;">
        <div class="col-6" style="display: flex; align-items: center;">
            <h5>{{header_name}}</h5>
        </div>
        <div class="col-6 button-style">
            <!-- <button type="reset" class="btn close-button " (click)="formRefresh(createForm)">Close</button> -->
            <button type="reset" class="btn draft-button" (click)="onCreate(createForm, 0)">Save as Draft</button>
            <div *ngIf="previous_button" class="arrow-button" (click)="onCreate(createForm, 3)">
                <img style="height: 30px;" src="../../../../assets/images/Group 5750.png">
            </div>
            <div *ngIf="!previous_button" class="arrow-button1">
                <img style="height: 30px;" src="../../../../assets/images/Group 5751.png">
            </div>
            <div *ngIf="!save_button" class="arrow-button" (click)="onCreate(createForm, 1)">
                <img style="height: 30px;" src="../../../../assets/images/Group 5752.png">
            </div>
            <div *ngIf="save_button" class="arrow-button" (click)="onCreate(createForm, 2)">
                <img style="height: 30px;" src="../../../../assets/images/Group 5752.png">
            </div>
            <!-- <button *ngIf="!save_button" type="submit" class="btn next-button" (click)="onCreate(createForm, 1)">Next</button>
            <button *ngIf="save_button" type="submit" class="btn next-button" (click)="onCreate(createForm, 2)">Next</button> -->
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group mt-2">
                <label for="NameField" class="label text-left">Result<span
                        class="caption status-danger">*</span></label>
                <input id="myInput3" class="input1" type="number" name="range" [min]="min" [max]="max"
                    [(ngModel)]="range" #rangeid="ngModel" (focusout)="resultFocusOut()" required />

                <ng-container *ngIf="rangeid.invalid &&  (rangeid.dirty || createForm.submitted)">
                    <p class="error-message" *ngIf="rangeid.errors?.required">
                        Result is Required!
                    </p>
                    <p class="error-message" *ngIf="rangeid.errors?.min">
                        Min value is {{min}}
                    </p>
                    <p class="error-message" *ngIf="rangeid.errors?.max">
                        Max value is {{max}}
                    </p>
                </ng-container>
            </div>
        </div>

        <div class="col-sm-12">
            <div [innerHTML]="template"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="form-group mt-2">
                <label for="NameField" class="label text-left">URL Title<span
                        class="caption status-danger">*</span></label>
                <input class="input3" type="text" name="url_tilte" [(ngModel)]="url_tilte" #url_tilteid="ngModel"
                    required />
                <ng-container *ngIf="url_tilteid.invalid && (url_tilteid.dirty ||createForm.submitted)">
                    <p class="error-message">
                        Url Title is Required!
                    </p>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group mt-2">
                <label for="NameField" class="label text-left">Video URL<span
                        class="caption status-danger">*</span></label>
                <input class="input1" type="text" name="videourl" [(ngModel)]="videourl" #videourlid="ngModel"
                    required />
                <ng-container *ngIf="videourlid.invalid && (videourlid.dirty ||createForm.submitted)">
                    <p class="error-message">
                        Video Url is Required!
                    </p>
                </ng-container>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group mt-2">
                <label for="NameField" class="label text-left">URL Description<span
                        class="caption status-danger">*</span></label>
                <input id="myInput3" class="input1" type="text" name="url_description" [(ngModel)]="url_description"
                    #url_descriptionid="ngModel" required />
                <!-- <textarea name="url_description" [(ngModel)]="url_description" #url_descriptionid="ngModel"
                    required></textarea> -->
                <ng-container *ngIf="url_descriptionid.invalid && (url_descriptionid.dirty ||createForm.submitted)">
                    <p class="error-message">
                        Description is is Required!
                    </p>
                </ng-container>
            </div>
        </div>


        <!-- <div class="col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-4 label">
                            Result
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="input1" type="text" name="range" [(ngModel)]="range" #rangeid="ngModel" (focusout)="resultFocusOut()" required />

                                <ng-container *ngIf="rangeid.invalid &&  (rangeid.dirty || createForm.submitted)">
                                    <p class="caption status-danger">
                                        Result is Required!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-2">
                            <span>Range</span><br>
                            <span> ( Units ) </span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-4 label">
                            Template
                        </div>
                        <div class="col-6">
                            <nb-select name="templatestring" [(ngModel)]="templatestring" fullWidth>
                                <nb-option *ngFor="let item of templateArray" [value]="item">
                                    {{item.title | titlecase}}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn load_template-button" (click)='loadTemplate()'>Load
                                Template</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-4 label">
                            Video Url
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="input1" type="text" name="videourl" [(ngModel)]="videourl" #videourlid="ngModel" required />
                                <ng-container *ngIf="videourlid.invalid && (videourlid.dirty ||createForm.submitted)">
                                    <p class="caption status-danger">
                                        Video Url is Required!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-sm-6">
            <div class="row">
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-2">

                        </div>
                        <div class="col-4 label">
                            Abnormal
                        </div>
                        <div class="col-6">
                            <input class="input2" type="checkbox" name="abnormal" [(ngModel)]="abnormal" (ngModelChange)='abnormalStatus($event)' #abnormalid="ngModel">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-2">

                        </div>
                        <div class="col-4 label">
                            URL Title
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input class="input3" type="text" name="url_tilte" [(ngModel)]="url_tilte" #url_tilteid="ngModel" required />
                                <ng-container *ngIf="url_tilteid.invalid && (url_tilteid.dirty ||createForm.submitted)">
                                    <p class="caption status-danger">
                                        Url Title is Required!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row p-2">
                        <div class="col-2">

                        </div>
                        <div class="col-4 label">
                            URL Description
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <textarea name="url_description" [(ngModel)]="url_description" #url_descriptionid="ngModel" required></textarea>
                                <ng-container *ngIf="url_descriptionid.invalid && (url_descriptionid.dirty ||createForm.submitted)">
                                    <p class="caption status-danger">
                                        Description is is Required!
                                    </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <!-- <div class="row" style="margin-top: 15px;">
        <div class='col-sm-2 label1'>
            <label for="NameField" class="label text-left">Abnormal<span
                class="caption status-danger">*</span></label>
        </div>
        <div class="col-sm-4">
            <mat-slide-toggle name="abnormal" [(ngModel)]="abnormal" (ngModelChange)='abnormalStatus($event)'></mat-slide-toggle>
        </div>
    </div> -->

    <div class="row" style="margin-top: 15px;">
        <div class="col-3">
            <label for="NameField" class="label text-left">Template<span class="caption status-danger">*</span></label>
            <p-dropdown [style]="{'width':'100%'}" [options]="templateArray" optionLabel="title" name="templatestring"
                [(ngModel)]="templatestring" [showClear]="false" [required]="true"
                (ngModelChange)="dropdownOnchange($event)">
            </p-dropdown>
            <!-- <nb-select name="templatestring" [(ngModel)]="templatestring" fullWidth (onChange)="dropdownOnchange($event)" >
                <nb-option *ngFor="let item of templateArray" [value]="item" >
                    {{item.title | titlecase}}
                </nb-option>
            </nb-select> -->
        </div>
        <div class="col-3" style="margin-top: 14px;">
            <button type="button" class="btn load_template-button" (click)='loadTemplate()'>Load
                Template</button>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-10">
            <div class="form-group has-feedback" [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                <ckeditor [(ngModel)]="mycontent" #myckeditor="ngModel" name="myckeditor" required [config]="ckeConfig"
                    debounce="500" (ngModelChange)="onChange($event)">
                </ckeditor>
                <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
            </div>
        </div>
    </div>
</form>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<p-toast position="bottom-center" key="bc"></p-toast>