.container-1 {
    background-color: #F4F9E7;
    padding-top: 12px;
    padding-left: 9px;
    padding-right: 9px;
}

.container-1 {
    .label1 {
        font-weight: 400;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
    }
    .label2 {
        font-weight: 800;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
    }
}

.button-style {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background-color: #ffede1;
}

.label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}

.label1 {
    display: flex;
    align-items: center;
}

.input1 {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    // border: 0.5px solid #4B4141;
    border: 0.5px solid #B6B6B6;
    padding: 10px;
    background-color: #FFFFFF;
    // cursor: pointer;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.input2 {
    height: 30px;
    border-radius: 5px;
    // border: 0.5px solid #4B4141;
    border: 0.5px solid #B6B6B6;
    padding: 10px;
    background-color: #FFFFFF;
}

.input3 {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    // border: 0.5px solid #4B4141;
    border: 0.5px solid #B6B6B6;
    padding: 10px;
    background-color: #FFFFFF;
}

.draft-button {
    margin-left: 6px;
    // background-color: #707070;
    background-color: #6D4848;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
}

.next-button {
    margin-left: 6px;
    background-color: #72db76;
}

textarea {
    width: 100%;
    // height: 80px;
    height: 35px;
    resize: none;
    border-radius: 5px;
    // border: 0.5px solid #4B4141;
    border: 0.5px solid #B6B6B6;
    padding: 10px;
    background-color: #FFFFFF;
}

.load_template-button {
    margin-top: 2%;
    // background-color: #4B4141;
    background-color: #6D4848;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mt-2 {
    margin-top: 1.5rem !important;
}

.arrow-button {
    cursor: pointer;
    margin-left: 8px;
    margin-top: 3px;
}

.arrow-button1 {
    margin-left: 8px;
    margin-top: 3px;
}