<app-dietitian-header></app-dietitian-header>
<div class="page-container">
    <div class="page-sidebar-section">
        <div class="sidebar-container">
            <ul class="sidebar-nav">
                <li>DIETITIAN REPORT</li>
                <li *ngFor="let item of sidebar_details">
                    <div>
                        <a *ngIf="completed_id == 2" >
                            {{item.name}} <span *ngIf="item.update == 1" style="float: right;">
                                <img src="../../../assets//images/Group 5938.png">
                            </span>
                        </a>

                        <a *ngIf="completed_id != 2" [routerLink]="item.url" routerLinkActive="active">
                            {{item.name}} <span *ngIf="item.update == 1" style="float: right;">
                                <img src="../../../assets//images/Group 5938.png">
                            </span>
                        </a>
                    </div>
                    <!-- <span ></span> -->

                    <!--  -->
                </li>
                <!-- <li><a  [routerLink]="'lifestyle'" routerLinkActive="active">Lifestyle Factors</a></li>
                <li><a  [routerLink]="'medical-history'" routerLinkActive="active">Medical History</a></li>
                <li><a  [routerLink]="'dietary-report'" routerLinkActive="active">Dietary Report</a></li>
                <li><a  [routerLink]="'bmi'" routerLinkActive="active">Body Mass Index (BMI)</a></li>
                <li><a  [routerLink]="'job'" routerLinkActive="active">Job</a></li>
                <li><a  [routerLink]="'sleep'" routerLinkActive="active">Sleep</a></li>
                <li><a  [routerLink]="'sexual-health'" routerLinkActive="active">Sexual Health</a></li>
                <li><a  [routerLink]="'family-history'" routerLinkActive="active">Family History</a></li>
                <li><a  [routerLink]="'exercise'" routerLinkActive="active">Exercise</a></li>
                <li><a  [routerLink]="'summary'" routerLinkActive="active">Follow Up</a></li> -->
                <!-- <li><a  [routerLink]="'followup'" routerLinkActive="active">Follow Up</a></li> -->
                <!-- <li><a  [routerLink]="'Summary-problem-areas'" routerLinkActive="active">Summary Problem Areas</a></li> -->
            </ul>
        </div>
    </div>
    <div class="page-content-section">
        <div class="page-content-columns">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="sidebar-patient-details">
        <div class="sidebar-tab">
            <div class="tab-container">
                <ul class="tab-menu">
                    <li class="nav-tabs1 active-nav-tab " (click)="onTabChange('tabs1')">PATIENT <br>SURVEY RESPONSE
                    </li>
                    <li class="nav-tabs2" (click)="onTabChange('tabs2')">BLOOD RESULTS</li>
                </ul>
                <div class="tab-content">
                    <div class="tabs active-tab-content" id="tabs1">
                        <div class="patient-survey-section">
                            <!-- <div class="survey-title">
                                <h2>PATIENT SURVEY RESPONSE</h2>
                            </div> -->
                            <div class="patient-survey-details-section">
                                <!-- <div class="patient-survey-details-box">
                                    <h3>Lifestyle Factors</h3>
                                </div> -->
                                <div class="patient-survey-content">
                                    <h3>
                                        Have you ever been told by a Doctor that you have any of the following
                                        conditions?
                                    </h3>
                                    <p>
                                        Remember answering honestly and openly, you will learn more about your blood
                                        and how it is connected to your health
                                    </p>

                                    <h4 *ngIf="personalDetail != null">
                                        <span><img src="../../../assets/images/dashboard/LifestyleFactors.png"></span>
                                        <span class="p-25">Personal Details:</span>
                                    </h4>
                                    <ul class="survey-list" *ngIf="personalDetail != null">
                                        <li class="pd-lt-1">
                                            <span>1.</span>
                                            <p> Date of Birth:
                                                <span
                                                    *ngIf="personalDetail.birth_date == null || personalDetail.birth_date == ''">Not
                                                    Provided</span>
                                                <span
                                                    *ngIf="personalDetail.birth_date != null">{{personalDetail.birth_date}}</span>
                                            </p>

                                        </li>
                                        <li class="pd-lt-1">
                                            <span>2.</span>
                                            <p>
                                                Ethnicity:
                                                <span
                                                    *ngIf="personalDetail.ethnicity == null || personalDetail.birth_date == ''">
                                                    Not Provided
                                                </span>
                                                <span *ngIf="personalDetail.ethnicity == 'Other'">
                                                    <span
                                                        *ngIf="personalDetail.ethnicity_other != null || personalDetail.ethnicity_other != ''">{{personalDetail.ethnicity_other}}</span>
                                                </span>
                                                <span *ngIf="personalDetail.ethnicity != 'Other'">
                                                    <span
                                                        *ngIf="personalDetail.ethnicity != null || personalDetail.ethnicity != ''">{{personalDetail.ethnicity}}</span>
                                                </span>
                                            </p>

                                        </li>

                                        <li class="pd-lt-1">
                                            <span>3.</span>
                                            <p>
                                                If you know your height, please enter it here?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="personalDetail.height == null || personalDetail.height == ''">
                                                    Not Provided</p>
                                                <p *ngIf="personalDetail.height != null || personalDetail.height != ''">
                                                    {{personalDetail.height}} {{personalDetail.height_unit}}
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>4.</span>
                                            <p>
                                                If known, please enter your current weight here?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="personalDetail.weight == null || personalDetail.weight == ''">
                                                    Not Provided</p>
                                                <p *ngIf="personalDetail.weight != null || personalDetail.weight != ''">
                                                    {{personalDetail.weight}} {{personalDetail.weight_unit}}
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>5.</span>
                                            <p>
                                                If known, please enter your waist circumference?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="personalDetail.waist == null || personalDetail.waist == ''">
                                                    Not Provided</p>
                                                <p *ngIf="personalDetail.waist != null || personalDetail.waist != ''">
                                                    {{personalDetail.waist}} {{personalDetail.waist_unit}}
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>6.</span>
                                            <p>
                                                Do you have a main concern(s) about your health?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="personalDetail.main_concerns == null || personalDetail.main_concerns == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="personalDetail.main_concerns != null || personalDetail.main_concerns != ''">
                                                    {{personalDetail.main_concerns}}
                                                </p>
                                            </div>
                                        </li>

                                        <li class="pd-lt-1">
                                            <span>7.</span>
                                            <p>
                                                What is your main motivation for change?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="personalDetail.main_motivation == null || personalDetail.main_motivation == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="personalDetail.main_motivation != null || personalDetail.main_motivation != ''">
                                                    {{personalDetail.main_motivation}}
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>8.</span>
                                            <p>
                                                If you tried making health changes in the past, what worked?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="personalDetail.health_worked == null || personalDetail.health_worked == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="personalDetail.health_worked != null || personalDetail.health_worked != ''">
                                                    {{personalDetail.health_worked}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>9.</span>
                                            <p>
                                                If you tried making health changes in the past, what didn't?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="personalDetail.health_notworked == null || personalDetail.health_notworked == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="personalDetail.health_notworked != null || personalDetail.health_notworked != ''">
                                                    {{personalDetail.health_notworked}}</p>
                                            </div>
                                        </li>
                                    </ul>

                                    <h4 *ngIf="medicalHistory != null">
                                        <span><img src="../../../assets/images/dashboard/MedicalHistory.png"></span>
                                        <span class="p-25">Medical History:</span>
                                    </h4>
                                    <ul class="survey-list" *ngIf="medicalHistory != null">
                                        <li class="pd-lt-1">
                                            <span>1.</span>
                                            <p>
                                                Angina or Ischaemic Heart disease (discomfort in the chest due to heart
                                                disease)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.heart_disease == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.heart_disease == 2">No</p>
                                                <p *ngIf="medicalHistory.heart_disease == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>2.</span>
                                            <p> Atrial Fibrillation (Irregular heart rate for which you take medication)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.atrial_fibrillation == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.atrial_fibrillation == 2">No</p>
                                                <p *ngIf="medicalHistory.atrial_fibrillation == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>3.</span>
                                            <p> Erectile dysfunction (difficulty maintaining an erection)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.erectile_dysfunction == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.erectile_dysfunction == 2">No</p>
                                                <p *ngIf="medicalHistory.erectile_dysfunction == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>4.</span>
                                            <p> High Cholesterol:
                                                <span *ngIf="medicalHistory.high_cholesterol == 1"
                                                    class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.high_cholesterol == 2">No</span>
                                                <span *ngIf="medicalHistory.high_cholesterol == 3">Not Applicable To
                                                    Me</span>
                                            </p>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>5.</span>
                                            <p> High Triglycerides:
                                                <span *ngIf="medicalHistory.high_triglycerides == 1"
                                                    class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.high_triglycerides == 2">No</span>
                                                <span *ngIf="medicalHistory.high_triglycerides == 3">Not Applicable To
                                                    Me</span>
                                            </p>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>6.</span>
                                            <p> Pre-diabetes (abnormally high blood sugar levels, but not yet full blown
                                                type 2 diabetes)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.pre_diabetes == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.pre_diabetes == 2">No</p>
                                                <p *ngIf="medicalHistory.pre_diabetes == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>7.</span>
                                            <p> Type 2 Diabetes (abnormally high blood sugar levels in the diabetic
                                                range)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.type2_diabetes == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.type2_diabetes == 2">No</p>
                                                <p *ngIf="medicalHistory.type2_diabetes == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>8.</span>
                                            <p> Insulin Resistance (when your body is not responding as it should to the
                                                hormone insulin.
                                                Your doctor will have told you if your blood tests or your medical
                                                history show signs of insulin resistance)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.insulin_resistance == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.insulin_resistance == 2">No</p>
                                                <p *ngIf="medicalHistory.insulin_resistance == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>9.</span>
                                            <p> High Blood Pressure or Hypertension </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.high_bloodpressure == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.high_bloodpressure == 2">No</p>
                                                <p *ngIf="medicalHistory.high_bloodpressure == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>10.</span>
                                            <p> Increased waist circumference</p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.waist_circumference == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.waist_circumference == 2">No</p>
                                                <p *ngIf="medicalHistory.waist_circumference == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>11.</span>
                                            <p> Obesity or High BMI:
                                                <span *ngIf="medicalHistory.bmi == 1" class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.bmi == 2">No</span>
                                                <span *ngIf="medicalHistory.bmi == 3">Not Applicable To Me</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>12.</span>
                                            <p> Fatty liver or NASH:
                                                <span *ngIf="medicalHistory.nash == 1" class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.nash == 2">No</span>
                                                <span *ngIf="medicalHistory.nash == 3">Not Applicable To Me</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>13.</span>
                                            <p> Peripheral vascular disease (when the blood vessells become narrowed
                                                causing pain in the legs or arms)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.vascular_disease == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.vascular_disease == 2">No</p>
                                                <p *ngIf="medicalHistory.vascular_disease == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>14.</span>
                                            <p> Emphysema or COPD:
                                                <span *ngIf="medicalHistory.copd == 1" class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.copd == 2">No</span>
                                                <span *ngIf="medicalHistory.copd == 3">Not Applicable To Me</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>15.</span>
                                            <p> Chronic kidney disease (lower than normal functioning of the kidneys
                                                diagnosed by your doctor)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.kidney_disease == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.kidney_disease == 2">No</p>
                                                <p *ngIf="medicalHistory.kidney_disease == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>16.</span>
                                            <p> Migraine:
                                                <span *ngIf="medicalHistory.migraine == 1" class="yes">Yes</span>
                                                <span *ngIf="medicalHistory.migraine == 2">No</span>
                                                <span *ngIf="medicalHistory.migraine == 3">Not Applicable To Me</span>
                                            </p>
                                        </li>
                                        <li>
                                            <span>17.</span>
                                            <p> Obstructive Sleep Apnoea (periods during the night where you stop
                                                breathing due to obstruction of the upper respiratory tract)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.sleep_apnoea == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.sleep_apnoea == 2">No</p>
                                                <p *ngIf="medicalHistory.sleep_apnoea == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>18.</span>
                                            <p> Depression (persistant feelings of sadness or loss of interest diagnosed
                                                by your doctor)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.depression == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.depression == 2">No</p>
                                                <p *ngIf="medicalHistory.depression == 3">Not Applicable To Me</p>

                                            </div>
                                        </li>
                                        <li>
                                            <span>19.</span>
                                            <p> Anxiety (excessive worry which impacts on your ability to function
                                                day-to-day which has been diagnosed by your doctor)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.anxiety == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.anxiety == 2">No</p>
                                                <p *ngIf="medicalHistory.anxiety == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>20.</span>
                                            <p> Please list any medical conditions that you have been diagnosed with by
                                                a doctor (or say none)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="medicalHistory.medical_conditions == null || medicalHistory.medical_conditions === ''">
                                                    Not Provided
                                                </p>
                                                <p
                                                    *ngIf="medicalHistory.medical_conditions != null || medicalHistory.medical_conditions != ''">
                                                    {{medicalHistory.medical_conditions}}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>21.</span>
                                            <p> Please list any medications that you take regularly that have been
                                                prescribed by a doctor (or say none)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="medicalHistory.medications == null || medicalHistory.medications === ''">
                                                    Not Provided
                                                </p>
                                                <p
                                                    *ngIf="medicalHistory.medications != null || medicalHistory.medications != ''">
                                                    {{medicalHistory.medications}}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>22.</span>
                                            <p> Please list any supplements or over the counter medications that you
                                                take (or say none)

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="medicalHistory.any_supplements == null || medicalHistory.any_supplements === ''">
                                                    Not Provided
                                                </p>
                                                <p
                                                    *ngIf="medicalHistory.any_supplements != null || medicalHistory.any_supplements != ''">
                                                    {{medicalHistory.any_supplements}}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>23.</span>
                                            <p> Are you and your partner having any difficulty getting pregnant?</p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.difficulty_pregnant == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.difficulty_pregnant == 2">No</p>
                                                <p *ngIf="medicalHistory.difficulty_pregnant == 3">Not Applicable To Me
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>24.</span>
                                            <p> If so, please provide any further information about your fertility
                                                concerns which you feel may be helpful for our team to know

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="!medicalHistory.fertility_concerns">
                                                    Not Provided
                                                </p>
                                                <p *ngIf="medicalHistory.fertility_concerns">
                                                    {{medicalHistory.any_supplements}}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>25.</span>
                                            <p> A first degree relative (mother, father, brother, sister or child) who
                                                had a stroke or heart attack below the age of 55 for a man or 60 for a
                                                woman
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.history_stroke == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.history_stroke == 2">No</p>
                                                <p *ngIf="medicalHistory.history_stroke == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>26.</span>
                                            <p> A first degree relative (mother, father, brother, sister or child) who
                                                has Type 2 Diabetes </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="medicalHistory.history_diabetes == 1" class="yes">Yes</p>
                                                <p *ngIf="medicalHistory.history_diabetes == 2">No</p>
                                                <p *ngIf="medicalHistory.history_diabetes == 3">Not Applicable To Me</p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>27.</span>
                                            <p>Please include any other family history you feel is relevant (or say
                                                none)</p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="medicalHistory.history_others == null || medicalHistory.history_others === ''">
                                                    Not Provided
                                                </p>
                                                <p
                                                    *ngIf="medicalHistory.history_others != null || medicalHistory.history_others != ''">
                                                    {{medicalHistory.any_supplements}}
                                                </p>
                                            </div>
                                        </li>
                                    </ul>

                                    <h4 *ngIf="lifestyleFactore != null">
                                        <span><img src="../../../assets/images/dashboard/LifestyleFactors.png"></span>
                                        <span class="p-25">Lifestyle Factors:</span>
                                    </h4>
                                    <ul class="survey-list" *ngIf="lifestyleFactore != null">
                                        <li class="pd-lt-1">
                                            <span>1.</span>
                                            <p>
                                                On an average day, how many hours do you sleep?
                                            </p>
                                            <div class="survey-answer-tab">

                                                <p
                                                    *ngIf="lifestyleFactore.sleep_hour == null || lifestyleFactore.sleep_hour == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.sleep_hour != null || lifestyleFactore.sleep_hour != ''">
                                                    {{lifestyleFactore.sleep_hour}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>2.</span>
                                            <p>
                                                On an average day, when you wake up, do you feel revitilised?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="lifestyleFactore.wake_up == null || lifestyleFactore.wake_up == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.wake_up != null || lifestyleFactore.wake_up != ''">
                                                    {{lifestyleFactore.wake_up}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>3.</span>
                                            <p>
                                                Do you smoke tobacco?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="lifestyleFactore.smoke_tobacco == 1">Yes</p>
                                                <p *ngIf="lifestyleFactore.smoke_tobacco == 2">No</p>
                                                <p *ngIf="lifestyleFactore.smoke_tobacco == 3">Not Applicable To Me</p>
                                            </div>
                                            <div *ngIf="lifestyleFactore.smoke_tobacco == 1">
                                                <p>
                                                    If so, how many cigarettes for you smoke on average per day?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.cigarette_perday == null || lifestyleFactore.cigarette_perday == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.cigarette_perday != null || lifestyleFactore.cigarette_perday != ''">
                                                        {{lifestyleFactore.cigarette_perday}}</p>
                                                </div>
                                                <p>
                                                    If so, how many years have you smoked for?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.cigarette_years == null || lifestyleFactore.cigarette_years == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.cigarette_years != null || lifestyleFactore.cigarette_years != ''">
                                                        {{lifestyleFactore.cigarette_years}} Years</p>

                                                </div>
                                                <p>If so, are you interested in quitting? </p>
                                                <div class="survey-answer-tab">
                                                    <p *ngIf="lifestyleFactore.cigarette_quitting == 1">Yes</p>
                                                    <p *ngIf="lifestyleFactore.cigarette_quitting == 2">No</p>
                                                    <p *ngIf="lifestyleFactore.cigarette_quitting == 3">Not Applicable
                                                        To Me</p>
                                                </div>
                                            </div>

                                        </li>

                                        <li class="pd-lt-1">
                                            <span>4.</span>
                                            <p>
                                                Do you drink alcohol?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="lifestyleFactore.drink_alcohol == 1">Yes</p>
                                                <p *ngIf="lifestyleFactore.drink_alcohol == 2">No</p>
                                                <p *ngIf="lifestyleFactore.drink_alcohol == 3">Not Applicable To Me</p>
                                            </div>
                                            <div *ngIf="lifestyleFactore.drink_alcohol == 1">
                                                <p> If so, on an average week, how much do you drink per week?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.units_spirts == null || lifestyleFactore.units_spirts == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.units_spirts != null || lifestyleFactore.units_spirts != ''">
                                                        {{lifestyleFactore.units_spirts}} Units Spirts</p>
                                                </div>
                                                <p> If so, on an average week, how much do you drink per week?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.units_wine == null || lifestyleFactore.units_wine == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.units_wine != null || lifestyleFactore.units_wine != ''">
                                                        {{lifestyleFactore.units_wine}} Units Wine</p>
                                                </div>
                                                <p>
                                                    If so, on an average week, how much do you drink per week?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.units_beer == null || lifestyleFactore.units_beer == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.units_beer != null || lifestyleFactore.units_beer != ''">
                                                        {{lifestyleFactore.units_beer}} Units Beer</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="pd-lt-1">
                                            <span>5.</span>
                                            <p>
                                                Are you currently in employment?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="lifestyleFactore.employment == null || lifestyleFactore.employment == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.employment != null || lifestyleFactore.employment != ''">
                                                    {{lifestyleFactore.employment}}</p>
                                            </div>
                                            <div
                                                *ngIf="lifestyleFactore.mainjob != 'Other' || lifestyleFactore.mainjob != ''">
                                                <p>
                                                    If so, what is your main job/work?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.mainjob == null || lifestyleFactore.mainjob == ''">
                                                        Not Applicable</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.mainjob != null || lifestyleFactore.mainjob != ''">
                                                        {{lifestyleFactore.mainjob}}</p>
                                                </div>
                                            </div>
                                            <div *ngIf="lifestyleFactore.mainjob == 'Other'">
                                                <p>if other main job/work? </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="lifestyleFactore.mainjob_other == null || lifestyleFactore.mainjob_other == ''">
                                                        Not Applicable</p>
                                                    <p
                                                        *ngIf="lifestyleFactore.mainjob_other != null || lifestyleFactore.mainjob_other != ''">
                                                        {{lifestyleFactore.mainjob_other}}</p>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="pd-lt-1">
                                            <span>6.</span>
                                            <p>
                                                How would you describe the activity level of your work?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="lifestyleFactore.activity_level == null || lifestyleFactore.activity_level == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.activity_level != null || lifestyleFactore.activity_level != ''">
                                                    {{lifestyleFactore.activity_level}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>7.</span>
                                            <p>
                                                Do you experience regular stress in any of the below areas of you life?
                                                (or say none)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="lifestyleFactore.stress == null || lifestyleFactore.stress == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.stress != null || lifestyleFactore.stress != ''">
                                                    {{lifestyleFactore.stress}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>8.</span>
                                            <p>
                                                How many minutes a day do you do planned exercise such as running,
                                                cycling, playing a team sport, gym, swim, (or say none)
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="lifestyleFactore.exercise_minutes == null || lifestyleFactore.exercise_minutes == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="lifestyleFactore.exercise_minutes != null || lifestyleFactore.exercise_minutes != ''">
                                                    {{lifestyleFactore.exercise_minutes}}</p>
                                            </div>
                                        </li>

                                    </ul>

                                    <h4 *ngIf="diet != null">
                                        <span><img src="../../../assets/images/dashboard/DietaryReport.png"></span>
                                        <span class="p-25">Dietary Report:</span>
                                    </h4>
                                    <ul class="survey-list" *ngIf="diet != null">
                                        <li class="pd-lt-1">
                                            <span>1.</span>
                                            <p>
                                                What role does food play in your life?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="diet.food_play == null || diet.food_play == ''">Not Provided
                                                </p>
                                                <p *ngIf="diet.food_play != null || diet.food_play != ''">
                                                    {{diet.food_play}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>2.</span>
                                            <div *ngIf="diet.categories_fits != 'Other'">
                                                <p>
                                                    Do you fit into 1 or more of the following categories?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p
                                                        *ngIf="diet.categories_fits == null || diet.categories_fits == ''">
                                                        Not Provided</p>
                                                    <p
                                                        *ngIf="diet.categories_fits != null || diet.categories_fits != ''">
                                                        {{diet.categories_fits}}</p>
                                                </div>
                                            </div>
                                            <div *ngIf="diet.categories_fits == 'Other'">
                                                <p>
                                                    Other categories?
                                                </p>
                                                <div class="survey-answer-tab">
                                                    <p *ngIf="diet.other_fits == null || diet.other_fits == ''">Not
                                                        Provided</p>
                                                    <p *ngIf="diet.other_fits != null || diet.other_fits != ''">
                                                        {{diet.other_fits}}</p>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="pd-lt-1">
                                            <span>3.</span>
                                            <p>
                                                How would you rate your diet/food habits?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="diet.diet_rating == null || diet.diet_rating == ''">Not
                                                    Provided</p>
                                                <p *ngIf="diet.diet_rating != null || diet.diet_rating != ''">
                                                    <span *ngIf="diet.diet_rating == 1">Very Poor</span>
                                                    <span *ngIf="diet.diet_rating == 2">Poor</span>
                                                    <span *ngIf="diet.diet_rating == 3">Average</span>
                                                    <span *ngIf="diet.diet_rating == 4">Good</span>
                                                    <span *ngIf="diet.diet_rating == 5">Optimal</span>
                                                </p>
                                            </div>
                                        </li>

                                        <li class="pd-lt-1">
                                            <span>4.</span>
                                            <p>
                                                Do you have any concerns or thoughts about your diet (or say none)?
                                            </p>
                                            <div class="survey-answer-tab">
                                                <p *ngIf="diet.thought_diet == null || diet.thought_diet == ''">Not
                                                    Provided</p>
                                                <p *ngIf="diet.thought_diet != null || diet.thought_diet != ''">
                                                    {{diet.thought_diet}}</p>
                                            </div>
                                        </li>
                                        <li class="pd-lt-1">
                                            <span>5.</span>
                                            <p>
                                                FINALLY..... is there any further information about ANY area
                                                of your health or life that you would like us to know about?

                                            </p>
                                            <div class="survey-answer-tab">
                                                <p
                                                    *ngIf="diet.additional_information == null || diet.additional_information == ''">
                                                    Not Provided</p>
                                                <p
                                                    *ngIf="diet.additional_information != null || diet.additional_information != ''">
                                                    {{diet.additional_information}}</p>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tabs" id="tabs2">
                        <div class="summary-sidebar-tab">
                            <ng-container>
                                <div class="summary-details-section" *ngIf="summaryData.length > 0">
                                    <div *ngFor="let i of summaryData">
                                        <div class="inner-content" style="margin-top: 12px;">
                                            <h3><strong>Test Name : {{i.test_name}}</strong> </h3>
                                            <div class="summary-note" [innerHTML]="i.notes | safeHtml"></div>
                                            <div class="summary-template" [innerHTML]="i.template | safeHtml"></div>
                                        </div>
                                    </div>
                                    <div class="inner-content" style="margin-top: 12px;">
                                        <h3><strong>Test Name : Diabetes Timeline</strong></h3>
                                        <!-- <div class="summary-note" >{{diabetes_timeline_data.timeline_name}}</div> -->
                                        <div *ngIf="diabetes_timeline_data" class="summary-note"
                                            [innerHTML]="diabetes_timeline_data?.description| safeHtml"></div>
                                    </div>

                                </div>
                                <div class="summary-details-section" *ngIf="summaryData.length <= 0">
                                    <div class="inner-content">
                                        <h3>There is no abnormal data found..!</h3>
                                    </div>
                                </div>
                            </ng-container>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>