// Page Container ---------------------->
.page-container{
    display: flex;
    flex: 1;
    -ms-flex: 1 1 auto;
    flex-direction: row;
    height: 100vh;
    .page-sidebar-section{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: auto;
        order: 0;
        color: #222b45;
        font-family: Open Sans, sans-serif;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.25rem;
        width: 16rem;
        background-color: #E7F2F1 !important;
        // box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
        .sidebar-container{
            display: flex;
            flex: 1;
            flex-direction: column;
            height: 100vh;
            width: 16rem;
            overflow-y: auto;
            overflow-x: hidden;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 185px !important;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            
            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
        }
        
    }
    
    .page-content-section{
        display: flex;
        flex: 1;
        -ms-flex: 1 1 auto;
        flex-direction: column;
        min-width: 0;
        .page-content-columns{
            flex: 1;
            -ms-flex: 1 1 auto;
            flex-direction: row;
            width: 100%;
            height: 100vh;
            margin-top: 118px !important;
            padding: 4.5rem 2.25rem 0.75rem 2.25rem;
            overflow-y: auto;
            overflow-x: hidden;
            
            &::-webkit-scrollbar {
                width: 0px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
       
    }

}



.container {
    width: 10vw;
    background-color: red;
}


// a:active{
//     background-color: #ec4012 !important;
//     color: #ffffff !important;
//     position: relative;
//     width: 88%;
// }


ul{
    position: relative;
    list-style-type: none;
    li {
        position: relative;
        list-style-type: none;
        
        &:first-child{
            font-weight: 600;
            padding:0.8rem;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 15px;
            color: #000000;
        }
        a{
            display: block !important;
            padding: 0.8rem !important;
            font-family: 'Nunito Sans', sans-serif !important;
            font-size: 18px !important;
            font-weight: 700 !important;
            color: #000000 !important;
            text-decoration: none !important;
            &:hover {
                color: #000 !important;
                text-decoration: none !important;
                
            }
            
        }
        .active {
            //background-color: #ec4012 !important;
            color: #ffffff !important;
            position: relative !important;
            border: none;
        }
        .active::after {
            // content: "";
            // position: absolute;
            // right: 0;
            // top: 50%;
            // width: 20px;
            // height: 100%;
            // border-left: solid 31px #ec4012;
            // border-bottom: solid 22px transparent;
            // border-top: solid 24px transparent;
            // transform: translate(0px, -50%);
            // z-index: -1;
        }
        .active::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #ec4012;
            z-index: -1;
        }
        // .active::after {
        //     position: absolute;
        //     right: 10px;
        //     top: 50%;
        //     content: "";
        //     width: 0;
        //     height: 0;
        //     border-width: 58px;
        //     border-left: solid 10px #ffffff;
        //     border-bottom: solid 8px transparent;
        //     border-top: solid 8px transparent;
        //     transform: translateY(-50%);
        // }
       
    }
}

.tab-content{
    overflow: scroll ;
    height: 59vh;
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.sidebar-patient-details{
    background-color: #f9fbfb;
    padding: 12rem 0.8rem 2rem;
    height: 100%;
    width: 20rem;
    // overflow-y: auto;
    // overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .sidebar-tab{
        .tab-menu{
            padding: 0;
            list-style: none;
            margin: 0 0 15px 0;
            border-bottom: solid 1px #ccc;
            display: flex;
            li{
                flex: 1;
                font-weight: 700;
                font-family: "Nunito Sans", sans-serif;
                font-size: 13px;
                color: #000000;
                line-height: 18px;
                padding: 0 0.3rem 0.5rem 0.3rem;
            }
            .active-nav-tab{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #222;
                }
            }
        
            
        }
        .tab-content{
            .tabs{
                display: none;
            }
            .active-tab-content{
                display: block;
            }
        }
        
    }
    
}
.patient-survey-section{
    
    
    .patient-survey-details-section {
        .patient-survey-details-box{
            margin-bottom: 15px;
            h3{
                font-size: 14px;
                color: #ffffff;
                padding: 0.8rem;
                background-color: #49bbf7;
                border-radius: 3px;
                box-shadow: 0rem 0.1rem 0.2rem 0.1rem rgb(44 51 73 / 17%);
            }
        }
        .patient-survey-content{
            color: #000000;
            h3{
                font-family: "Nunito Sans", sans-serif;
                font-size: 12px;
                line-height: 15px;
                font-weight: 700;
                color: #000000;
            }
            h4{
                font-size: 14px;
                color: #ffffff;
                padding: 0.8rem;
                background-color: #49bbf7;
                border-radius: 3px;
                box-shadow: 0rem 0.1rem 0.2rem 0.1rem rgb(44 51 73 / 17%);
            }
            p{
                font-family: "Nunito Sans", sans-serif;
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
        
            }
            .survey-list{
                list-style-type: none;
                margin: 0;
                padding: 0;
                .pd-lt-1{
                    padding-left: 1rem;
                }
                li{
                    position: relative;
                    padding:0 0 0.6rem 1.3rem;
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 12px;
                    color: #222b45;
                    span{
                        position: absolute;
                        top: 2px;
                        left: 0;
                        font-size: 12px;
                        font-weight: 700;
                        font-family: "Nunito Sans", sans-serif;
                        line-height: 15px;
                    }
                    
                    p{
                        margin: 0;
                        padding-bottom: 8px;
                        font-weight: 400;
                        font-family: "Nunito Sans", sans-serif;
                        line-height: 16px;
                        span{
                            position: static;
                            font-family: "Nunito Sans", sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }
                    .survey-answer-tab{
                        font-family: "Nunito Sans", sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        p{
                            font-weight: 700;
                            line-height: 16px;
                        }
                    }
                }

            }
        }

        
    }
    
}
.summary-sidebar-tab{
    h3{
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        color: #000;    
    }
    p{
        font-family: "Nunito Sans", sans-serif;
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
        margin-bottom: 0;
        padding-bottom: 8px;
    }
    .summary-details-section {
        p{
            font-family: "Nunito Sans", sans-serif;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            margin-bottom: 0;
            padding-bottom: 8px;
            
        }
        .inner-content{
            
            .summary-note{
                p{
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 500;
                    margin-bottom: 0;
                    padding-bottom: 8px;
                }
            }
                
            
            
        }
    }
}

ul,
li:first-child {
    font-size: 14px;
}

ul {
    padding: 0px;
    cursor: pointer;
}

.p-25{
    padding-left: 25px;
}

body{
    overflow: hidden;
}

// .tab-content{
//     .nb-theme-default a{
//         display: block !important;
//         padding: 0.8rem !important;
//         font-family: 'Nunito Sans', sans-serif !important;
//         font-size: 18px !important;
//         font-weight: 700 !important;
//         color: #000000 !important;
//         text-decoration: none !important;
//         &:hover {
//             color: #000 !important;
//             text-decoration: none !important;
            
//         }
//     }
// }

.yes{
    font-weight: 800 !important;
    color: red !important;
}
