
<div class="row" style="margin-top: 2%;">
    <div class="col-6" style="display: flex; align-items: center;">

    </div>

    <div class="col-6 button-style" *ngIf="completed_id == 2">
        <button style="float: right;" class="btn submit_button" (click)="goSearchFunction()">Back to search page</button>
    </div>

    <div class="col-6 button-style" *ngIf="completed_id != 2">
        <button style="float: right;" (click)='onSubmit(submissiondialog)' class="btn submit_button">Publish</button>
    </div>
</div>
<hr>
<div class="summary-details-section" *ngIf="summaryData.length > 0">    
    <div *ngFor = "let i of summaryData">
        <div class="inner-content" style="margin-top: 12px;">
            <h3><strong>Test Name : {{i?.test_name}}</strong> </h3>
            <div class="summary-note"  [innerHTML]="i?.notes| safeHtml1"></div>
            <div class="summary-template" [innerHTML]="i?.template| safeHtml1"></div>
        </div>
    </div>
    <div class="inner-content" style="margin-top: 12px;">
        <h3><strong>Test Name : Diabetes Timeline</strong></h3>
        <!-- <div class="summary-note" >{{diabetes_timeline_data.timeline_name}}</div> -->
        <div class="summary-note" [innerHTML]="diabetes_timeline_data.description| safeHtml1"></div>
    </div>
</div>


<ng-template #submissiondialog let-data let-ref="dialogRef">
    <nb-card class="error-popup ">
        <nb-card-body>
            All test results are published successfully. Do you want to navigate to search test kit page?
        </nb-card-body>
        <nb-card-footer style="margin-left: auto;margin-right: auto;">
            <button nbButton style="background-color: #1b51cc !important; border-color: #edf1f7 !important; color: #fcfdff !important;" (click)="Open()">Yes</button>
            <button nbButton style="margin-left: 15px;" (click)="close(ref)">No</button>
        </nb-card-footer>
    </nb-card>
</ng-template>